body {
    width: fit-content;
    max-width: 50%;
    margin: auto;
}

h1 {
    width: fit-content;
    margin: auto;
}

nav ul {
    padding-left: 0;
    list-style-type:none;
}

.nav-option {
    margin-bottom: 3px;
}

.nav-option a {
    text-decoration: none;
    color: black;
}

.nav-option a:hover {
    text-decoration: underline;
    font-weight: bold;
}

.section-header {
    margin-top: 40px;
}

img {
    width: 550px;
}

.contact-options li {
    margin-bottom: 6px;
}

.contact-options a {
    text-decoration: none;
    color: black;;
}

.contact-options a:hover {
    font-weight: bold;
}